<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>{{store_name}}</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->

        <!--<link rel="stylesheet" href="css/normalize.css">
        <link rel="stylesheet" href="css/main.css">
        <script src="js/vendor/modernizr-2.6.2.min.js"></script>-->
    <style>
        .header{}
        .description{
            font-size:14px;
        }

    </style>
    </head>

    <body class="{{store_identifier}}">

        <!--[if lt IE 7]>
            <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->



        <div class="header">
            <h2 class="description">{{store_description}}</div>

            <a href="{{store_url}}">
                {{#logotype}}
                <img class="logo" src="{{url-300"}} title="{{store_name}}">
                {{/logotype}}
                {{store_name}}
            </a>

            <ul class="nav-main">

            </ul>

        </div>




        <div class="footer">
            <ul>
                <li><a href="{{store_blog_url}}">Check our blog</a></li>
                <li><a href="mailto:{{store_email}}">email JokkMokk</a></li>

        </div>

        <!--<script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
        <script>window.jQuery || document.write('<script src="js/vendor/jquery-1.10.2.min.js"><\/script>')</script>
        <script src="js/plugins.js"></script>
        <script src="js/main.js"></script>-->


    </body>
</html>
