<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">

    <title>
        {{store_name}}
        {{! Add the label of the current navigation item on list pages }}
        {{#list_page}}{{#navigation}}{{#is_current}}- {{label}}{{/is_current}}{{/navigation}}{{/list_page}}
        {{! Add the product title on product pages }}
        {{#product_page}}{{#product}}- {{title}}{{/product}}{{/product_page}}
        {{! Add "About" on the about page }}
        {{#about_page}}- {{#lang}}About{{/lang}}{{/about_page}}
    </title>

    <link href="//fonts.googleapis.com/css?family=Crimson+Text:600" rel="stylesheet" type="text/css">
    <link href="{{assets_url}}/shared/css/base.css" rel="stylesheet" type="text/css">
    <style>
    /* ******************************

    GENERAL

    ****************************** */

    body {
        padding: 30px 20px;
        background-color: #fff;
        font-family: Helvetica, Arial, 'Lucida Grande', sans-serif;
        font-size: 12px;
        line-height: 1.2;
        color: #222;
    }

    h1 {
        margin: 0 0 10px;
        font-size: 14px;
        line-height: 18px;
        font-weight: bold;
    }

    h2 {
        margin: 0 0 10px;
        font-size: 11px;
        line-height: 15px;
        font-weight: normal;
    }

    p {
        margin: 10px 0;
    }

    a {
        color: #333;
        text-decoration: none;
    }

    a:hover {
        color: #1874b2;
        text-decoration: underline;
    }

    .row {
        font-size: 0;
        line-height: 0;
    }

    .column {
        display: inline-block;
        vertical-align: top;
        font-size: 14px;
        line-height: 1.2;

        /* Fix for Internet Explorer 7 */
        *display: inline;
        zoom: 1;
    }

    #container {
        width: 898px;
        margin: 0 auto;
    }

    /* ******************************

    HEADER

    ****************************** */

    header {
        margin-bottom: 40px;
        padding: 20px 0;
        text-align: center;

        /* Fix for Internet Explorer 7 */
        position: relative;
        z-index: 1;
    }

    #logotype {
        font-family: 'Crimson Text', serif;
        font-size: 72px;
        line-height: 78px;
        font-weight: 600;
        color: #222;
        letter-spacing: -1px;
        text-transform: uppercase;
    }

    #logotype:hover {
        text-decoration: none;
    }

    /* ******************************

    NAVIGATION

    ****************************** */

    #main_navigation {
        width: 147px;
    }

    #main_navigation li {
        margin-top: 12px;
        font-size: 12px;
        line-height: 17px;
        font-weight: bold;
        color: #333;
    }

    #main_navigation li:first-child {
        margin-top: 0;
    }

    #main_navigation a:hover {
        color: #1874b2;
        text-decoration: underline;
    }

    #main_navigation .selected > a {
        text-decoration: underline;
    }

    #main_navigation .child_navigation li {
        margin-top: 4px;
        font-size: 11px;
        line-height: 14px;
        font-weight: normal;
        color: #777;
    }

    #search_container {
        margin-top: 20px;
    }

    #main_navigation .payment_alternatives {
        margin-top: 40px;
    }

    #main_navigation .payment_alternatives img {
        display: block;
        margin-top: 10px;
        max-width: 100px;
    }

    /* ******************************

    SEARCH

    ****************************** */

    #tictail_search input {
        width: 118px;
        margin: 0;
        padding: 4px 4px 4px 22px;
        background: url({{assets_url}}/1/magglas.png) no-repeat 3px 50% #fff;
        border: 1px solid #ddd;
        font-family: Helvetica, Arial, 'Lucida Grande', sans-serif;
        font-size: 12px;
        line-height: 16px;
        font-weight: bold;
        color: #999;
    }

    #tictail_search input:focus {
        outline: 0;
        color: #333;
    }

    #tictail_search_results {
        top: 25px;
        left: 0;
        background-color: #fff;
        -webkit-box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.2);
        -moz-box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.2);
        box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.2);
        border: 1px solid #ddd;
        font-size: 12px;
        line-height: 15px;
    }

    #tictail_search_results .searching,
    #tictail_search_results .no_results {
        color: #999;
    }

    #tictail_search_results .item {
        border-top: 1px solid #ddd;
    }

    #tictail_search_results .result {
        color: #333;
        text-decoration: none;
    }

    #tictail_search_results .result:hover {
        color: #1874b2;
        text-decoration: none;
    }

    #tictail_search_results .title {
        margin-top: 4px;
        font-weight: bold;
    }

    #tictail_search_results .price {
        font-size: 11px;
        line-height: 14px;
        color: #666;
    }

    /* ******************************

    LIST PAGE

    ****************************** */

    #products {
        width: 731px;
        margin-left: 20px;
    }

    .product_list {
        margin-right: -20px;
    }

    .product_list li {
        width: 230px;
        margin: 0 20px 15px 0;
        font-size: 11px;
        line-height: 15px;
    }

    .product_list a {
        display: block;
        text-decoration: none;
        color: #666;
    }

    .product_list .image_container {
        height: 230px;
        overflow: hidden;
        background-color: white;
        line-height: 230px;
        text-align: center;
    }

    .product_list .image_container img {

        max-width:230px;

        vertical-align: left;
    }

    .product_list .image_container img:hover {
        opacity: 0.9;
    }

    .product_list h2,
    .product_list h3 {
        overflow: hidden;
        margin: 5px 0 0 0;
        font-size: 11px;
        line-height: 15px;
        font-weight: normal;
        text-overflow: ellipsis;
        white-space: nowrap;
    }

    .product_list .out_of_stock {
        font-style: italic;
        color: #ff4324;
    }

    /* ******************************

    PRODUCT PAGE

    ****************************** */

    #product {
        width: 731px;
        margin-left: 20px;
    }

    #product_info .image_container {
        width: 480px;
        text-align: center;
        cursor: pointer;
    }

    #product_info .image_container img {
        max-width: 480px;
    }

    #product_info .details_container {
        width: 231px;
        margin-left: 20px;
        font-size: 11px;
        line-height: 15px;
        color: #666;
    }

    #product_info h1 {
        margin: 0 0 3px 0;
    }

    #product_info .price {
        font-size: 12px;
        line-height: 16px;
        color: #222;
    }

    #product_info .currency {
        margin-left: -1px;
        font-size: 9px;
    }

    #product_info .klarna_monthly_payment {
        margin: 3px 0 10px;
    }

    #product_info .klarna_monthly_payment a {
        color: #1874b2;
    }

    #product_info .description {
        margin: 20px 0;
    }

    #product_info .variations_container {
        margin: 20px 0;
    }

    #product_info .add_to_cart {
        margin: 20px 0;
    }

    #product_info .out_of_stock {
        margin: 30px 0;
        font-style: italic;
        color: #ff4324;
    }

    #product_info .tictail_social_buttons {
        margin: 30px 0;
    }

    #product_info .terms {
        margin-top: 30px;
    }

    #product_info .terms li {
        margin: 0 0 2px 0;
        font-size: 9px;
        line-height: 12px;
        font-weight: normal;
        text-transform: uppercase;
    }

    #product_info .terms a {
        color: #999;
    }

    #related_products {
        margin-top: 20px;
    }

    #related_products h2 {
        margin: 0 0 20px 0;
        padding: 0 0 3px 0;
        border-bottom: 1px solid #ddd;
        font-size: 11px;
        line-height: 16px;
        font-weight: normal;
        color: #777;
    }

    /* ******************************

    "ADD TO CART" BUTTON

    ****************************** */

    .tictail_add_to_cart_button {
        min-width: 70px;
        padding: 8px 12px;
        background-color: #222;
        border: 0;
        -webkit-border-radius: 3px;
        -moz-border-radius: 3px;
        border-radius: 3px;
        font-size: 11px;
        line-height: 14px;
        color: #f6f6f6;
        cursor: pointer;
    }

    .tictail_add_to_cart_button:hover{
        background-color: #1874b2;
    }

    .tictail_add_to_cart_button:active{
        background-color: #3595d5;
    }

    /* ******************************

    ABOUT PAGE

    ****************************** */

    #contact {
        margin-top: 15px;
    }

    /* ******************************

    GENERIC PAGES

    ****************************** */

    .page_container {
        width: 731px;
        margin-left: 20px;
        font-size: 11px;
        line-height: 15px;
        color: #666;
    }





    </style>

    <!--[if lt IE 9]>
    <script src="{{assets_url}}/shared/js/html5shiv.js"></script>
    <![endif]-->
</head>
<body>
<div id="container">
    <header>
        <a id="logotype" href="{{store_url}}">
            {{#logotype}}
                <img src="{{url-300}}" alt="{{store_name}}">
            {{/logotype}}
            {{#no_logotype}}
                {{store_name}}
            {{/no_logotype}}
        </a>
    </header>

    <div class="row">
        <nav id="main_navigation" class="column">
            <ul>
                {{! Highlight "All items" if we are on a list page and no navigation item is selected }}
                <li class="{{#list_page}}{{#no_current_navigation}}selected{{/no_current_navigation}}{{/list_page}}">
                    <a href="{{store_url}}/products">
                        {{#lang}}All items{{/lang}}
                    </a>
                </li>

                {{#navigation}}
                <li class="{{#is_current}}selected{{/is_current}}">
                    <a href="{{url}}">
                        {{label}}
                    </a>
                    {{#is_current}}
                    {{! Render the submenu if it has any navigation items }}
                    {{#children?}}
                    <ul class="child_navigation">
                        {{#children}}
                        <li>
                            <a href="{{url}}">
                                {{label}}
                            </a>
                        </li>
                        {{/children}}
                    </ul>
                    {{/children?}}
                    {{/is_current}}
                </li>
                {{/navigation}}

                {{#store_blog_url}}
                <li>
                    <a href="{{store_blog_url}}" target="_blank">
                        {{#lang}}Blog{{/lang}}
                    </a>
                </li>
                {{/store_blog_url}}

                <li class="{{#about_page}}selected{{/about_page}}">
                    <a href="{{store_url}}/page/about">
                        {{#lang}}About{{/lang}}
                    </a>
                </li>
            </ul>

            <div id="search_container">
                {{search}}
            </div>

            {{! Render logotypes of all available payment alternatives }}
            {{#payment_alternatives?}}
            <div class="payment_alternatives">
                {{#payment_alternatives}}
                <img src="{{logo}}" alt="{{type}}">
                {{/payment_alternatives}}
            </div>
            {{/payment_alternatives?}}
        </nav>


{{#list_page}}
{{! This block is rendered when displaying a list of products }}

        <section id="products" class="column">
            {{! Output a list if we have any products }}
            {{#products?}}
            <ul class="product_list row">
                {{#products}}
                <li class="column">
                    <a href="{{url}}">
                        <div class="image_container">
                            {{#primary_image}}
                            <img src="{{url-300}}" alt="{{title}}">
                            {{/primary_image}}
                        </div>

                        <h2>{{title}}</h2>
                        {{#in_stock}}
                        <span class="price">{{price_with_currency}}</span>
                        {{/in_stock}}
                        {{#out_of_stock}}
                        <span class="price out_of_stock">{{#lang}}Out of stock{{/lang}}</span>
                        {{/out_of_stock}}
                    </a>
                </li>
                {{/products}}
            </ul>
            {{/products?}}
        </section>

{{/list_page}}


{{#product_page}}
{{! This block is rendered when displaying a single product }}

        <article id="product" class="column" itemscope itemtype="http://schema.org/Product">
            {{#product}}
            <div id="product_info" class="row">
                <figure class="image_container column" data-media="{{url-300}}" data-media440="{{url-500}}" data-media600="{{url-1000}}" data-media1400="{{url-2000}}" alt="{{title}}">
                    {{#all_images}}
                            <img src={{url-300_encoded}}>
                    {{/all_images}}
                </figure>

                <section class="details_container column">
                    <h1 itemprop="name">{{title}}</h1>

                    <div class="price" itemprop="offers" itemscope itemtype="http://schema.org/Offer">
                        <span itemprop="price">{{price_with_currency}}</span>

                        {{! This is meta data for search engines etc. }}
                        <meta itemprop="priceCurrency" content="{{currency_code}}">
                        {{#in_stock}}
                        <link itemprop="availability" href="http://schema.org/InStock">
                        {{/in_stock}}
                        {{#out_of_stock}}
                        <link itemprop="availability" href="http://schema.org/OutOfStock">
                        {{/out_of_stock}}
                    </div>

                    {{#klarna?}}
                    <div class="klarna_monthly_payment">
                        {{#klarna}}
                        <a href="https://online.klarna.com/account_se.yaws?eid={{eid}}" target="_blank" class="klarna_popup">
                            Delbetala från {{price_with_currency}} per månad
                        </a>
                        {{/klarna}}
                    </div>
                    {{/klarna?}}

                    <div class="description html_content" itemprop="description">
                        {{description}}
                    </div>

                    {{! The #add_to_cart block is only rendered if the product is in stock }}
                    {{#add_to_cart}}
                    <div class="variations_container">
                        {{#variations_select}}{{/variations_select}}
                    </div>

                    <div class="add_to_cart">
                        {{#add_to_cart_button}}
                            {{#lang}}Add to cart{{/lang}}
                        {{/add_to_cart_button}}
                    </div>
                    {{/add_to_cart}}

                    {{! This block will be rendered instead of the #add_to_cart block when the product is out of stock }}
                    {{#out_of_stock}}
                    <div class="out_of_stock">
                        {{#lang}}This product is out of stock{{/lang}}
                    </div>
                    {{/out_of_stock}}

                    {{social_buttons}}

                    <ul class="terms">
                        <li>
                            {{#return_policy}}
                                {{#lang}}Return policy{{/lang}}
                            {{/return_policy}}
                        </li>
                        <li>
                            {{#terms}}
                                {{#lang}}Terms & Conditions{{/lang}}
                            {{/terms}}
                        </li>
                    </ul>
                </section>
            </div>
            {{/product}}

            {{! Render a list of related products if there are any }}
            {{#related_products?}}
            <aside id="related_products">
                <h2>{{#lang}}You might also like...{{/lang}}</h2>

                <ul class="product_list row">
                    {{#related_products}}
                    <li class="column">
                        <a href="{{url}}">
                            <div class="image_container">
                                {{#primary_image}}
                                <img src="{{url-300}}" alt="{{title}}">
                                {{/primary_image}}
                            </div>

                            <h3>{{title}}</h3>
                            {{#in_stock}}
                            <span class="price">{{price_with_currency}}</span>
                            {{/in_stock}}
                            {{#out_of_stock}}
                            <span class="price out_of_stock">{{#lang}}Out of stock{{/lang}}</span>
                            {{/out_of_stock}}
                        </a>
                    </li>
                    {{/related_products}}
                </ul>
            </aside>
            {{/related_products?}}
        </article>

{{/product_page}}


{{#about_page}}

    <article id="about" class="column page_container">
        <h1>{{#lang}}About{{/lang}}</h1>

        <div class="html_content">
            {{store_description}}
        </div>
        <div id="contact">
            {{#store_email}}
                {{#lang}}Contact:{{/lang}} <a href="mailto:{{store_email}}">{{store_email}}</a>
            {{/store_email}}
        </div>
    </article>

{{/about_page}}

    </div>
</div>

<script src="//ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
<script>
$('a.klarna_popup').click(function(e) {
    e.preventDefault();
    var win = window.open($(this).attr('href'), 'klarnaPopupWindow', 'width=600,height=500,menubar=no,location=no,toolbar=no,status=no,directories=no');
    win.focus();
});
</script>
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script>
/**
* Seriously Tictail Theme Scripts
* @author: uli@aplusplus.org
*
*/
(function(W, document, jQuery, undefined) {

!function(t,e,n){"use strict";function i(e,n){I=this,this.element=e,this.elementChildren=t(e).children("*"),this.options=t.extend({},T,n),this.options.autoResize&&(this.unadulteratedHtml=t(this.element).html(),this.unadulteratedCSS=r(),this.unadulteratedOptions=t.extend({},this.options),o()),this.init(),this.createGallery()}function r(){var e=t(I.element);return{width:e[0].style.width,height:e[0].style.height,background:e.css("background"),paddingLeft:e.css("padding-left"),paddingTop:e.css("padding-top"),overflow:e.css("overflow"),fontSize:e.css("font-size")}}function o(){t(e).resize(function(){clearTimeout(G),G=setTimeout(function(){I.recreate()},500)})}function a(){var t,e,n;t=h(),0===t?I.fallbackToStandardSize():(e=f(),n=v(e,t),S(n))}function l(){var t,e,n;t=s(),0===t?I.fallbackToStandardSize():(e=g(),n=v(e,t),z(n),k(n))}function h(){return Math.round(d()/(I.options.viewportWidth-I.options.padding))}function s(){return Math.round(u()/(I.options.viewportHeight-I.options.padding))}function d(){var e=0;return I.elementChildren.each(function(){e+=p(t(this))}),e}function u(){var e=0;return I.elementChildren.each(function(){e+=c(t(this))}),e}function p(t){return W(t)*(I.options.idealHeight+I.options.padding)}function c(t){return 1/W(t)*(I.options.idealWidth+I.options.padding)}function f(){return I.elementChildren.map(function(){var e=parseInt(100*W(t(this)),R);return{element:this,weight:e}})}function g(){return I.elementChildren.map(function(){var e=parseInt(100*(1/W(t(this))),R);return{element:this,weight:e}})}function v(t,e){if(I.options.maintainOrder)return m(t,e);var n=y(t,e);return I.options.shuffleUnorderedPartitions&&(n=H(n)),C(n),n}function m(t,e){var n=t.length;if(0>=e)return[];if(e>=n)return t.map(function(t,e){return[[e]]});var i=w(t,e);n-=1,e-=2;for(var r=[];e>=0;){for(var o=[],a=i[n-1][e]+1;n+1>a;a++)o.push(t[a]);r=[o].concat(r),n=i[n-1][e],e-=1}for(var l=[],h=0;n+1>h;h++)l.push(t[h]);return[l].concat(r)}function w(t,e){for(var n=t.length,i=[],r=0;n>r;r++){for(var o=[],a=0;e>a;a++)o.push(0);i.push(o)}for(var l=[],h=0;n-1>h;h++){for(var s=[],d=0;e-1>d;d++)s.push(0);l.push(s)}for(var u=0;n>u;u++)i[u][0]=t[u].weight+(0!==u?i[u-1][0]:0);for(var p=0;e>p;p++)i[0][p]=t[0].weight;for(var c=function(t,e){return t[0]-e[0]},f=1;n>f;f++)for(var g=1;e>g;g++){for(var v=[],m=0;f>m;m++)v.push([Math.max(i[m][g-1],i[f][0]-i[m][0]),m]);var w=v.sort(c)[0];i[f][g]=w[0],l[f-1][g-1]=w[1]}return l}function y(t,e){for(var n=t.sort(function(t,e){return e.weight-t.weight}),i=new Array(e),r=0;e>r;r++)i[r]=[];for(var o=0;o<n.length;o++){for(var a=i[0],l=b(a),h=0;h<i.length;h++){var s=b(i[h]);l>s&&(a=i[h],l=s)}a.push(n[o])}return i}function b(e){var n=0;return t.each(e,function(t,e){n+=e.weight}),n}function H(t){for(var e=0;e<t.length;e++)t[e]=x(t[e]);return x(t)}function C(e){t(I.element).html("");for(var n=0;n<e.length;n++)for(var i=e[n],r=0;r<i.length;r++)t(I.element).append(i[r].element)}function S(e){for(var i=I.options.padding,r=0;r<e.length;r++){for(var o=0,a=0;a<e[r].length;a++)o+=W(t(e[r][a].element));for(var l=0;l<e[r].length;l++){var h=t(e[r][l].element),s=(I.options.viewportWidth-i)/o,d=parseInt(s,R),u=parseInt(d*W(h),R)-i;h.width(u),h.height(d),h.css({margin:0,marginRight:i+"px",marginBottom:i+"px"})}}I.element!==n.body&&t(I.element).css({overflow:"scroll"})}function k(e){for(var i=I.options.padding,r=0;r<e.length;r++){for(var o=0,a=0;a<e[r].length;a++)o+=1/W(t(e[r][a].element));for(var l=0;l<e[r].length;l++){var h=t(e[r][l].element),s=(I.options.viewportHeight-i)/o,d=parseInt(s,R),u=parseInt(d*(1/W(h)),R)-i;h.width(d),h.height(u),h.css({margin:0,marginRight:i+"px",marginBottom:i+"px"})}}t(".balanced-gallery-column").css({display:"inline-block",padding:0,margin:0}),t(I.container).width(function(){var e=0;return t(".balanced-gallery-column").each(function(){e+=t(this).width()}),e}()),I.element!==n.body&&t(I.element).css({overflowY:"hidden"}),I.options.viewportHeight!==I.element.clientHeight&&(I.options.viewportHeight=I.element.clientHeight-I.options.padding,t(I.element).height(I.options.viewportHeight-I.options.padding),I.element===n.body&&k(e))}function z(e){var i,r=t(I.element);r.html(""),r.css({overflow:"scroll"}),I.element!==n.body?(i=t('<div id="balanced-gallery-col-container"></div>'),r.append(i[0])):i=t(I.element),I.container=i[0];for(var o=0;o<e.length;o++){var a="balanced-gallery-col"+o,l='<div class="balanced-gallery-column" id="'+a+'"></div>';i.append(l);for(var h=0;h<e[o].length;h++){var s=e[o][h].element,d=t(i.find("div#"+a));d.append(s).append("<br />")}}}function W(t){var e=I.options.padding;return(t.width()+e)/(t.height()+e)}function x(t){for(var e,n,i=t.length;i--;)n=0|Math.random()*i,e=t[i],t[i]=t[n],t[n]=e;return t}var I,L="BalancedGallery",T={autoResize:!0,background:null,idealHeight:null,idealWidth:null,maintainOrder:!0,orientation:"horizontal",padding:5,shuffleUnorderedPartitions:!0,viewportHeight:null,viewportWidth:null},O="ALL_CHILDREN_LOADED",G=null,R=10;t.fn[L]=function(e){return this.each(function(){t.data(this,"plugin_"+L)||t.data(this,"plugin_"+L,new i(this,e))})},i.prototype.recreate=function(){t(this.element).on(O,function(){I.init(),I.createGallery()}),this.reset()},i.prototype.reset=function(){var e=this.elementChildren.length;t(this.element).html(this.unadulteratedHtml),t(this.element).css(this.unadulteratedCSS),this.options=t.extend({},this.unadulteratedOptions),this.elementChildren=t(this.element).children("*");var n=0;this.elementChildren.each(function(){t(this).load(function(){++n===e&&t(I.element).trigger(O)})})},i.prototype.init=function(){null===this.options.viewportWidth&&(this.options.viewportWidth=t(this.element).width()),null===this.options.viewportHeight&&(this.options.viewportHeight=t(this.element).height()),null===this.options.idealWidth&&(this.options.idealWidth=t(this.element).width()/4),null===this.options.idealHeight&&(this.options.idealHeight=t(this.element).height()/2),null!==this.options.background&&t(this.element).css({background:this.options.background}),this.elementChildren.css({display:"inline-block",padding:0,margin:0});var e=this.options.padding+"px";t(this.element).css({fontSize:0,paddingTop:e,paddingLeft:e})},i.prototype.createGallery=function(){var t=this.options.orientation.toLowerCase();if("horizontal"===t)a();else{if("vertical"!==t)throw"BalancedGallery: Invalid Orientation.";l()}},i.prototype.fallbackToStandardSize=function(){var e=this.options.idealHeight;this.elementChildren.each(function(){t(this).height(e),t(this).width(I.idealWidth(t(this)))})}}(jQuery,window,document);

// init (quick test);

    $(".image_container img").each(function(){
        var number = 150 + Math.floor(Math.random() * 230);
        console.log(number, "j");
        $(this).width(number).height('auto')


    });


    $(".image_container").BalancedGallery();

 }(window, document, jQuery));
 </script>
</body>
</html>

<!--
Want to create your own Tictail theme?
Check out the documentation at https://tictail.com/docs
-->
